/* by Nordin-S (2023) 
 * ----------------------------------------------------- 
*/


/* Import Pywal colors 
 * ----------------------------------------------------- */
@import '../../.cache/wal/colors-waybar.css';

/* set forground to cursor */
@define-color foreground @color3;




* {
    /* font-family: Inter Nerd Font; */
    font-family: "Fira Sans Semibold", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    /* font-weight:100; */
}
window#waybar {
    background: none;
    /* color: #c0c5ce; */
    /* border-radius: 0; */
    color: @foreground;
    /* color: rgba($bgRed, $bgGreen, $bgBlue, .2); */
    /* font-size: 1em; */
}

window > box {
  border-radius: 0px;
  opacity:0.70;
  background: @background;
}

/* #workspaces { */
/* } */

.modules-left,
.modules-center,
.modules-right {
    padding: 0 25px;
    border-radius:10px;
}

#workspaces button,
#taskbar button {    
    color: @foreground;
    border-radius: 0;
    font-size: 1.0em;
    box-shadow: inset 0 -.08em #c0c5ce;
    transition: box-shadow .20s ease-in-out, color .25s ease-in-out;
}

#workspaces button {
  padding: 0px 4px;
  margin: 0px 2px 0px 0px;
}

#taskbar button {
  margin: 0px 5px 0px 0px;
  padding: 0px;
}

#workspaces button.active,
#taskbar button.active {
    box-shadow: inset 0 -40px @foreground;
    color:@background;
}

#workspaces button:hover,
#taskbar button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    border: transparent;
    box-shadow: inset 0 -40px @foregroundAlt;
    color:@background;
}


#workspaces button.focused,
#taskbar button.focused {
    box-shadow: inset 0 -40px #c0c5ce;
    color:@foreground;
}

/* #workspaces button.hidden, */
/* #taskbar button.hidden { */
/*     box-shadow: inset 0 -.08em @disabled; */
/* } */

/* #workspaces button.urgent, */
/* #taskbar button.urgent { */
/*     box-shadow: inset 0 -40px @error; */
/*     animation: warn 2s ease-in-out infinite; */
/* } */

/* #window { */
/*     font-size: 1.05em; */
/*     font-weight:300; */
/*     background:rgba(0,0,0,.25); */
/*     padding: 0px 20px; */
/*     margin:5px; */
/*     border-radius: 5px; */
/* } */

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#notification,
#tray,
#mode,
#idle_inhibitor,
#mpd,
#custom-session,
#network.ethernet,
#network.wifi,
#network.linked,
#bluetooth,
#bluetooth.on,
#bluetooth.pairable {
    color: @foreground;
    padding:0em 0.5em;
    margin: 0em .1em;
    /* box-shadow: inset 0 -.08em @pink; */
}

/* #pulseaudio.muted { */
/*     box-shadow: inset 0 -.08em @error; */
/* } */
/**/
/* #bluetooth.discovering { */
/*     animation: pulsePink 2s ease-in-out infinite; */
/* } */
/**/
/* #network.disconnected, */
/* #network.disabled, */
/* #bluetooth.off { */
/*     box-shadow: inset 0 -.08em @disabled; */
/* } */
/**/
/* @keyframes warn { */
/*     0% {  } */
/*     50% { background: #ff574d; color: @foregroundAlt; } */
/*     100% {  } */
/* } */
/**/
/* @keyframes pulsePink { */
/*     0% {  } */
/*     40% { background: @pink;  color: @foregroundAlt; } */
/*     60% { background: @pink;  color: @foregroundAlt; } */
/*     100% {  } */
/* } */
